#app {
    height: 100%;
    width: 100%;
    position: absolute;
}

.flex-container {
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

div {
    text-align: center;
}